body{
    background-color: #02010a; 
    font-family: 'Dancing Script', cursive;
    font-size: 12pt;
}
img{
    box-shadow: 2px #02010a;
}
header{
    background: #5b7989;
    border-radius: 10px 10px 0 0; 
    overflow: auto;
    color: #ffffff;
}

header a{
    text-decoration: none;
    color: white !important;          
}
header li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    font-size: 0.5cm;
}

#imagen-principal{
    text-align: center;
    background-color:  #82c3a6;
}

#imagen-principal img{
    margin: 5% 10%;
    width: 80%;
}

#galeria-image{
    text-align: center;
    display: flex;
    background-color: #d5c75f;
}       

#galeria-image img{
    height: 200px;
    width: 80%;
    margin: 0 auto;
    border: solid 1px black;          
}
footer{
    display: flex;
    flex-direction: row;
    background: #C6d5c5;
    border-radius: 0 0 10px 10px; 
}
#column3 img{
    width: 20px;
}

#paisaje:hover{
    transform: rotate(10deg);
    box-shadow: #82c3a6;
    border: 2px;
}

#restrato:hover{
    transform: translate(20px,-5px);
    box-shadow: #82c3a6;
    border: 2px;
}

.contenedor {
    display: flex;
    flex-direction: row;
    background-color: #d5c75f;
}
.contenedor img{	
    width: 100%;
}
.contenedor > div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    width: 50%;
}
.contenedor #imagen1{
    filter: blur(10px);
}

.contenedor #imagen2, #imagen4, #imagen6{
    filter: grayscale(100%);
}

.contenedor #imagen3{
    filter: sepia(90%);
}
.contenido a{
    color: black;
    text-decoration: none;
}

@media (min-width: 901px){
    header h1{
        color: white;
        text-shadow: 2px #02010a;
        float: left;
        margin-left: 10px;
    }
    header #menu-principal{
        float: right;
    }
    #galeria-image div{
        width: 50%;
        margin: 5% 10%;
    }
    footer section[id^=column]{
        margin-left: 2%;
    }
    .contenido{
        width: 900px;
        margin: 0 20%;
    }
   
}

@media (max-width: 900px){
    header{
        text-align: center;
    }

    header h1{
        text-shadow: 2px #02010a;
    }
    #galeria-image{
        text-align: center;
        display: flex;
        flex-flow: column;
        background-color: #d5c75f;
    } 
    #galeria-image div{
        width: 100%;
        margin: 10% 0;
    }
    footer{
        display: flex;
        flex-direction: column;
    }            
    footer section[id^=column]{
        margin-left: 10%;
    }
    .contenedor {
        display: flex;
        flex-direction: column;
    }
    .contenedor > div {
        text-align: center;
        margin: 5%;
        width: 80%;
    }
}